{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Simple - {% block title %}{% endblock title %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{% url 'home:root' %}">Blog Simple</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home:root' %}">Posts</a>
              </li>
            </ul>
            <form class="d-flex" method="GET" action="">
              <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search" name="kword">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col-9">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item bg-dark text-light" aria-current="true">Categorias</li>
                    <a href="#" class="list-group-item list-group-item-action">Juegos</a>
                    <a href="#" class="list-group-item list-group-item-action">Cocina</a>
                    <a href="#" class="list-group-item list-group-item-action">Peliculas</a>
                    <a href="#" class="list-group-item list-group-item-action">Programacion</a>
                  </ul>
            </div>
        </div>
    </div>
    
        
    {% bootstrap_javascript %}
</body>
</html>