{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

    <div class="row">

        <div class="col-9">
            {% for post in posts %}
                <div class="card text-center mb-4">
                    <div class="card-header">
                        <h5 class="card-title">{{post.title}}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{post.content}}</p>
                    </div>
                    <div class="card-footer text-left">
                        Creado por {{post.created_by}} el {{post.created_at}}
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item bg-dark text-light" aria-current="true">Categorias</li>
                {% for category in categorys %}
                    <a href="#" class="list-group-item list-group-item-action">{{category.name}}</a>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock content %}
 