{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="card text-center mb-4">
    <div class="card-header">
        <h5 class="card-title">Titulo del Post</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nam nemo illo quo qui? Velit excepturi eos sequi repudiandae voluptates at sunt quidem. Dignissimos, exercitationem deleniti, corporis quo perspiciatis asperiores molestiae tenetur alias ullam voluptatem maiores odio omnis ut! Tempora quia dicta nam repellendus unde explicabo culpa repudiandae quod pariatur autem officiis suscipit ipsum, sequi excepturi fugiat nihil! Cumque deleniti corrupti laboriosam repudiandae error provident. Deserunt adipisci quo sapiente consequatur ad animi facilis quis, ea voluptatem repudiandae pariatur laborum illo recusandae tempora, quidem accusantium temporibus consectetur unde deleniti odit? Doloribus aliquid incidunt atque voluptatum perferendis iste? Molestiae voluptas fugiat voluptate!</p>
    </div>
    <div class="card-footer text-left">
        por Remi el 20/04/2021 a las 18:43hs
    </div>
</div>

<div class="card text-center mb-4">
    <div class="card-header">
        <h5 class="card-title">Titulo del Post</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nam nemo illo quo qui? Velit excepturi eos sequi repudiandae voluptates at sunt quidem. Dignissimos, exercitationem deleniti, corporis quo perspiciatis asperiores molestiae tenetur alias ullam voluptatem maiores odio omnis ut! Tempora quia dicta nam repellendus unde explicabo culpa repudiandae quod pariatur autem officiis suscipit ipsum, sequi excepturi fugiat nihil! Cumque deleniti corrupti laboriosam repudiandae error provident. Deserunt adipisci quo sapiente consequatur ad animi facilis quis, ea voluptatem repudiandae pariatur laborum illo recusandae tempora, quidem accusantium temporibus consectetur unde deleniti odit? Doloribus aliquid incidunt atque voluptatum perferendis iste? Molestiae voluptas fugiat voluptate!</p>
    </div>
    <div class="card-footer text-left">
        por Remi el 20/04/2021 a las 18:43hs
    </div>
</div> 

<div class="card text-center mb-4">
    <div class="card-header">
        <h5 class="card-title">Titulo del Post</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nam nemo illo quo qui? Velit excepturi eos sequi repudiandae voluptates at sunt quidem. Dignissimos, exercitationem deleniti, corporis quo perspiciatis asperiores molestiae tenetur alias ullam voluptatem maiores odio omnis ut! Tempora quia dicta nam repellendus unde explicabo culpa repudiandae quod pariatur autem officiis suscipit ipsum, sequi excepturi fugiat nihil! Cumque deleniti corrupti laboriosam repudiandae error provident. Deserunt adipisci quo sapiente consequatur ad animi facilis quis, ea voluptatem repudiandae pariatur laborum illo recusandae tempora, quidem accusantium temporibus consectetur unde deleniti odit? Doloribus aliquid incidunt atque voluptatum perferendis iste? Molestiae voluptas fugiat voluptate!</p>
    </div>
    <div class="card-footer text-left">
        por Remi el 20/04/2021 a las 18:43hs
    </div>
</div>
 
{% endblock content %}